body {
  margin: 0; /* Remove default browser margin */
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: medium;
}

/* Force form elements to use the global font */
input, button, select, textarea {
  font-family: inherit;
  font-size: inherit;
}